JWT_SECRET=cambia_esto_por_una_clave_segura
SRI_CERT_PATH=backend/certs/cert.p12
SRI_CERT_PASS=tu_password
PRINTER_NAME=
SRI_ENV=https://celcer.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline?wsdl
